*
{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(gallery/35.jpg);
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    }

h2
{
    text-align: center;
   font-weight: 400;
   font-size: 42px;
   color: rgba(245, 240, 240, 0.94);
   text-transform: uppercase;
   position: relative;
   margin-top: 10px;
   margin-bottom: 15px;
   padding-bottom: 20px;
   font-family: 'Raleway', sans-serif;
}
h2::after 
{
	position: absolute;
	content: "";
	background: rgba(240, 239, 239, 0.93);
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
img
{
   
    width: 770px;
    height: 583px;

}
.menu{
    position: absolute;
   top: 167px;
    left: 770px;
    width: 614px;
    height: 433px;
    padding: 75px;
    background-color:rgba(202, 198, 198, 0.58);
    border:1px none rgba(202, 198, 198, 0.95);
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    position: right;

}
