*
{
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(gallery/37.jpg);
    height: 110vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    }
    h2
    {
        text-align: center;
       font-weight: 400;
       font-size: 42px;
       color:white;
       text-transform: uppercase;
       position: relative;
       margin-top: 10px;
       margin-bottom: 15px;
       padding-bottom: 20px;
       font-family: 'Raleway', sans-serif;
    }
    h2::after 
    {
        position: absolute;
        content: "";
        background:white;
        height: 2px;
        width: 70px;
        bottom: 0;
        margin-left: -35px;
        left: 50%;
    }
    .id
    {
        left: -400px;
    }
    p
    {
       left: 500px;
        width: 900px;
        height: 90px;
        padding: 30px;
        color: rgba(253, 250, 250, 0.95);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        border:1px none rgba(202, 198, 198, 0.95);
    }
    img
    {  
        top:100px;
        right:770px;
        margin: 55px;
        padding: 5px;
        float: right;
        width: 450px;
        height: 500px;
        background-color: #eee;
        border:1px none #999;
        
    }

    h3
    {
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        position: right;
        margin: 0% 7%;
    }

  
    a
    {
        color: rgba(226, 211, 211, 0.56);
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        position: right;
        margin: 0% 7%;

    }