header
{
    background-image: url(gallery/36.jpg);
    height: 200%;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
h2
{
    margin: 0% 15%;
   font-weight: 400;
   font-size: 38px;
   color:white;
   text-transform: uppercase;
   position: relative;
   margin-top: 10px;
   margin-bottom: 15px;
   padding-bottom: 20px;
   font-family: 'Raleway', sans-serif;
}

.A
{
    font-family: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.94); 
    font-size: 20px;
    margin: 0% 10%;
	
}
.B
{
    margin: 0% 16%;
}
.box
{
width:200px;
padding:10px;
position:absolute;
margin: 0% 1%;
left: 20%;
transform:translate(-50%,-50%);
background:rgba(41, 39, 39, 0.55);
text-align:center;	
font-family: 'Raleway', sans-serif;
color: rgba(255, 255, 255, 0.94); 
font-size: 20px;
border-radius:24px;


}