*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(gallery/43.jpg);
	height: 100%;
	width: auto;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.A
{
	height: 250px;
	width: 240px;
}
td
{
	font-family: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.64); 
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
p
{
	font-family: 'Raleway', sans-serif;
	color: rgba(255, 255, 255, 0.64); 
	font-size: 15px;
}
h2
 {
	text-align: center;
	font-weight: 400;
	font-size: 42px;
	color: rgba(245, 240, 240, 0.94);
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
	font-family: 'Raleway', sans-serif;
 }

h2::after 
{
	position: absolute;
	content: "";
	background: rgba(240, 239, 239, 0.93);
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}

