*
{
    margin: 0;
    padding: 0;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(gallery/08.jpg);
    height: 100vh;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.welcometext
{
    position: absolute;
    width:600px;
    height: 100px;
    margin: 20% 30%;
    text-align: center;
}
.welcometext h1
{
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
    font-family:cursive;
    font-size: 90px;
}